USE [MyProject]
GO
/****** Object:  ForeignKey [FK_OderDetails_Clients]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OderDetails_Clients]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_OderDetails_Clients]
GO
/****** Object:  ForeignKey [FK_Employee_Users]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [FK_Employee_Users]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [FK_Employee_Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OderDetails_Clients]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_OderDetails_Clients]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bill]') AND type in (N'U'))
DROP TABLE [dbo].[Bill]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clients]') AND type in (N'U'))
DROP TABLE [dbo].[Clients]
GO
/****** Object:  Table [dbo].[Elevator]    Script Date: 11/20/2013 03:02:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Elevator]') AND type in (N'U'))
DROP TABLE [dbo].[Elevator]
GO
/****** Object:  Table [dbo].[Elevator]    Script Date: 11/20/2013 03:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Elevator]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Elevator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
	[price] [float] NULL,
	[weight] [float] NULL,
	[speed] [float] NULL,
	[madein] [nvarchar](255) NULL,
	[warranty] [int] NULL,
 CONSTRAINT [PK_Elevator] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Elevator] ON
INSERT [dbo].[Elevator] ([id], [name], [image], [type], [price], [weight], [speed], [madein], [warranty]) VALUES (1, N'THYSSENKRUPP 450Kg', N'1384244789006.png', N'home elevator', 10000, 450, 60, N'German', 1)
INSERT [dbo].[Elevator] ([id], [name], [image], [type], [price], [weight], [speed], [madein], [warranty]) VALUES (2, N'NT300', N'1384244869238.png', N'heavy duty elevator', 1200000, 300, 20, N'Viet Nam', 1)
INSERT [dbo].[Elevator] ([id], [name], [image], [type], [price], [weight], [speed], [madein], [warranty]) VALUES (3, N'sakura m68', N'1384244929773.png', N'home elevator', 100000, 200, 30, N'Japan', 2)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Elevator] OFF
/****** Object:  Table [dbo].[Clients]    Script Date: 11/20/2013 03:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clients]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[company] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[mobile] [nvarchar](255) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Clients] ON
INSERT [dbo].[Clients] ([id], [name], [company], [address], [email], [mobile]) VALUES (1, N'asdasdasd', N'sadasdasd', N'asdasd', N'asdas', N'dasdsad')
INSERT [dbo].[Clients] ([id], [name], [company], [address], [email], [mobile]) VALUES (2, N'fgfdg', N'fdgfdgfdg', N'fdgdf', N'gdfgfd', N'gdfgdf')
INSERT [dbo].[Clients] ([id], [name], [company], [address], [email], [mobile]) VALUES (3, N'name', N'dfdsfds', N'sdfds', N'fsdf', N'sdfsd')
SET IDENTITY_INSERT [dbo].[Clients] OFF
/****** Object:  Table [dbo].[Bill]    Script Date: 11/20/2013 03:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bill]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderid] [int] NOT NULL,
	[elevatorid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Bill] ON
INSERT [dbo].[Bill] ([id], [orderid], [elevatorid], [quantity]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Bill] ([id], [orderid], [elevatorid], [quantity]) VALUES (2, 2, 3, 1)
INSERT [dbo].[Bill] ([id], [orderid], [elevatorid], [quantity]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Bill] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2013 03:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[accounttype] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([id], [username], [password], [accounttype], [status]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', 1, 1)
INSERT [dbo].[Users] ([id], [username], [password], [accounttype], [status]) VALUES (2, N'demo1', N'e10adc3949ba59abbe56e057f20f883e', 2, 1)
INSERT [dbo].[Users] ([id], [username], [password], [accounttype], [status]) VALUES (3, N'demo2', N'e10adc3949ba59abbe56e057f20f883e', 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 11/20/2013 03:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clientid] [int] NOT NULL,
	[orderdate] [nvarchar](255) NOT NULL,
	[employeeid] [int] NULL,
	[price] [float] NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_OderDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([id], [clientid], [orderdate], [employeeid], [price], [status]) VALUES (1, 1, N'1384819257283', 1, 110000, 1)
INSERT [dbo].[Order] ([id], [clientid], [orderdate], [employeeid], [price], [status]) VALUES (2, 2, N'1384819312578', 1, 110000, 1)
INSERT [dbo].[Order] ([id], [clientid], [orderdate], [employeeid], [price], [status]) VALUES (3, 2, N'1384819320169', 1, 110000, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[Employee]    Script Date: 11/20/2013 03:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[fullname] [nvarchar](255) NULL,
	[gender] [int] NULL,
	[email] [nvarchar](255) NULL,
	[contact] [nvarchar](255) NULL,
	[department] [int] NULL,
	[active] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Employee] ON
INSERT [dbo].[Employee] ([id], [userid], [fullname], [gender], [email], [contact], [department], [active]) VALUES (1, 2, N'Order Request', 1, N'demo@demo.com', N'0123456789', 1, 1)
INSERT [dbo].[Employee] ([id], [userid], [fullname], [gender], [email], [contact], [department], [active]) VALUES (2, 3, N'Service Department', 1, N'demo@demo.com', N'0123456789', 2, 1)
INSERT [dbo].[Employee] ([id], [userid], [fullname], [gender], [email], [contact], [department], [active]) VALUES (3, 4, N'Complaint Department', 1, N'demo@demo.com', N'0123456789', 3, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
/****** Object:  ForeignKey [FK_OderDetails_Clients]    Script Date: 11/20/2013 03:02:53 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OderDetails_Clients]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_OderDetails_Clients] FOREIGN KEY([clientid])
REFERENCES [dbo].[Clients] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OderDetails_Clients]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_OderDetails_Clients]
GO
/****** Object:  ForeignKey [FK_Employee_Users]    Script Date: 11/20/2013 03:02:53 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Users] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Users]
GO
